body {
      
    background-color: #f4f4fd
}

.wrap {

    width: 350px;
    margin: auto;
    margin-top: 5vh;
    text-align: left;

}

.logo {
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.continue {
    width: 100%;
    font-size: 14px;
    margin: 20px 5px;
    font-size: 14px;
    border-radius: 5px;
    color: #fbcf20 ;
    font-weight: lighter;
    text-decoration: none;
    background-color: #472864;
    border: 1px thin  #472864;

}


.container {
    text-align: center;
}

input
{
   width: 92%;
   height: 45px;
   padding: 9px 4%;
   font-size: 14px;
   margin: 5px 0;
    border: 1px solid #ced4da;
    margin-bottom: 14px; 
     /*  */
}

label {
  font-weight: bold ;
    text-align: left !important;
    font-size: 13px;
    color: #6e1553;

}

button:hover
{
    font-size: 12px;
    font-weight: bold;
}


 .robot{
     background-color: #fff;
     height: 60px;
     width: 300px;
     display: block;
     margin-right: auto;
     margin-left: auto;
 }
 span{
     text-align: center
 }
 .pgh{
   color: #88a2af;
    font-size: 14PX; 
    text-align: center;
 }
 